<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {#{% for image in property.images %}#}
    <div class="carousel-item active">
      <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" class="d-block w-100" style="width: 100%; height: auto">
    </div>      
  {#{% endfor %}#}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>